.headerapp{
    width: 50%;
    font-size: 20px;
    margin:2% 4%
}

table{
    width: 100%;
}

.tdfirst{
    display: flex ; 
    width: 90% ; 
    padding: 0; 
    margin-bottom: 3px;
    margin-left: 5% ; 
    margin-right: 0px ;
}

.ranking{
    width: 10%;
     font-size: 12px;
      margin-top: 15px;
}

.imgicon{
    width: 30px;
     margin: 5px 5px 5px 0
}

.appname{
    text-align: left;
     font-size: 13px;
}

.img-country{
    width: 10px;
}

.app-publisher{
    font-size: 10px;
    color: gray;
    margin: 0 3px;
}

.cg{
    color: gray;
    width: 10px;
}

.td-second{
    width: 10%;
}

.div-red{
   color: red;
   display: flex;
   padding-left: 5%;
}

.div-green{
    color: green;
    display: flex
}

.div-orange{
    color: orange;
    display: flex;
    padding-left: 12%;
}

.div-green div,
.div-orange div,
.div-red div{
    width: 0px;
    height: 0px;
    margin-left: 10%;
   
}
.div-green p,
.div-orange p,
.div-red p{
    width: 40%;
    text-align: center;
}
.div-green div{
    border-bottom: 7px solid green;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent
}
.div-orange div{
    border-left: 7px solid yellow; 
    border-top: 7px solid transparent; 
    border-bottom: 7px solid transparent
}
.div-red div{
    border-top: 7px solid red;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent
}

.m-5{
    margin: 5px 0;
}

@media screen and (max-width:800px){
    .headerapp{
        font-size: 18px;
    }
    .ranking{
        font-size: 11px;
        margin-top: 12px;
    }
    .imgicon{
        width: 25px;
        margin: 5px 5px 5px 0
    }
    .appname{
        font-size: 12px;
    }
    .img-country{
        width: 9px;
    }
    
    .app-publisher{
        font-size: 9px;
    }

    .cg{
        width: 9px;
    }
    .div-red,
    .div-green,
    .div-orange{
        font-size: 10px;
    }
    .div-green div,
    .div-orange div,
    .div-red div{
    margin-top: 7%;
   
    }
    .div-green div{
        border-bottom: 6px solid green;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent
    }
    .div-orange div{
        border-left: 6px solid yellow; 
        border-top: 6px solid transparent; 
        border-bottom: 6px solid transparent
    }
    .div-red div{
        border-top: 6px solid red;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent
    }
}
@media screen and (max-width:600px){
    .headerapp{
        font-size: 16px;
    }
    .ranking{
        font-size: 11px;
        margin-top: 11px;
    }
    .imgicon{
        width: 22px;
        margin: 5px 5px 5px 0
    }
    .appname{
        font-size: 11px;
    }
    .img-country{
        width: 8px;
    }
    
    .app-publisher{
        font-size: 8px;
    }

    .cg{
        width: 8px;
    }
    .div-red,
    .div-green,
    .div-orange{
        font-size: 9px;
    }
    .div-green div,
    .div-orange div,
    .div-red div{
    margin-top: 7%;
   
    }
    .div-green div{
        border-bottom: 5px solid green;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent
    }
    .div-orange div{
        border-left: 5px solid yellow; 
        border-top: 5px solid transparent; 
        border-bottom: 5px solid transparent
    }
    .div-red div{
        border-top: 5px solid red;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent
    }
}
@media screen and (max-width:350px){
    .headerapp{
        font-size: 14px;
    }
    .ranking{
        font-size: 10px;
        margin-top: 10px;
    }
    .imgicon{
        width: 20px;
        margin: 5px 5px 5px 0
    }
    .appname{
        font-size: 10px;
    }
    .img-country{
        width: 7px;
    }
    
    
    .div-red,
    .div-green,
    .div-orange{
        font-size: 8px;
    }
    .div-green div,
    .div-orange div,
    .div-red div{
         margin-top: 6%;
   
    }
    .div-green div{
        border-bottom: 4px solid green;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent
    }
    .div-orange div{
        border-left: 4px solid yellow; 
        border-top: 4px solid transparent; 
        border-bottom: 4px solid transparent
    }
    .div-red div{
        border-top: 4px solid red;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent
    }
}

