*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(67, 70, 114);
    letter-spacing: 2px;
}

.clear{
    clear: both;
}

ul{
    list-style-type: none;
}

li{
    padding-left: 10px;
    text-align: left;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-40{
    margin-bottom: 40px;
}

header{
    position: absolute;
    margin-top: 20px;
    color: gray;
    margin-left: 30px;
    font-size: 30px;
}
header a{
    color: gray ;
}

header a:hover{
    color: rgb(88, 88, 194);
}


nav{
    text-align: right;
    padding: 20px 0;
    
}

nav li{
    display: inline-block;
    margin: 0 20px;
    padding: 10px 0px;
}

nav ul li a{
    color:gray;   
}

nav ul li a:hover{
    color: rgb(88, 88, 194);
}

.upper{
    background-image: url(./images/web.png); margin-top: 0px;
}

.first{
    width: 60%;
    margin:0 auto ;
    display: flex;
    padding: 60px 0 0;

}

.imgclass,
.firstright{
    width: 50%;
    background-color: white;
}
.fs-30{
    font-size: 30px;
}

.firstright li{
    margin-top: 10px;
}

.firstright ul{
    margin:50px 0 0 50px;
}

.communication{
    display: flex;
    margin-top: 18px
}

.icn{
    width: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.icn-email{
    margin-top: 10px;
    margin-right: 10px;
    width:22px; margin-right: 7px;
}

.logosclass{
    background-color: #f3f3f3;
}

.logo{
    width: 100%;
    margin: auto;
    text-align: center;
    
}

.logo li{
    display: inline-block;   
    margin-top:25px ;
    margin-bottom: 25px;
    word-wrap: break-word;
}
.logo ul{
    width: 60%;
    margin: auto;
    background-color: rgb(88, 88, 194);
}

.logo li i {
    color: white;  
    font-size: 24px;
    margin-left: 20px;   
}

.profile{
    width: 70%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.profile p{
    width: 65%;
    margin: 30px auto;
}

.profile a{
    color: cadetblue;
}

.experience,
.education,
.skills,
.certification{
    width: 100%;
    text-align: center;
}

.letter{
    padding: 30px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.div1{
    margin-top: 40px;
}

.div1,
.div2,
.div3{
    width: 75%;
    margin:auto;
    text-align: center;
}

.left,
.madde,
.right{
    float: left;
    margin-top: 40px;
}
.left{
    width:45%;
    text-align: right;
}
.madde{
    width: 10%;
    text-align: center;
}

.madde img{
    width: 6px;
}

.right{
    width: 45%;
    text-align: left;
}

.skills{
    margin-top: 30px;
}

.skills .letter{
    color: white;
    background-color: rgb(57, 57, 146);
}


.skillbody{
    background-color: rgb(68, 68, 177);
}

.skillbodyright{
    float: left;
     width: 35%;
}
.skillbodyleft{
    float: right; 
    width: 35%;
}

.skillbody-in-div{
    width: 75%;
     margin:1px auto;
     padding: 30px 0px;
}

.skillmadde{
    width: 100%; 
    text-align: center;
    background-color: rgb(125, 125, 170);
    margin: 20px 0px;
    padding: 30px 0px;
    color:white
}

.certification li{
    margin: 20px 0px;
}

.certificatebody{
    margin-top:5px;
}

.bodycer{
    width: 75%; 
    margin: auto; 
    display: flex; 
    margin-bottom: 10px;
}

.bodycer div{
    display: inline-block; 
    width: 50%; 
    padding-left:30px;
}

.bodycer ul{
    list-style-type:circle; 
    margin-left: 20px;
    text-align: center;
    margin:auto;
}

.contact{
    background-color: #f3f3f3; 
    padding-bottom: 30px;
}

.contact li{
    margin-top: 10px;
}

.contactbody{
    margin:2px 0 0 10px;
}
.contactbody ul{
    width: 50%; 
    margin:auto
}

.contactbodyleft{
    width:50%; 
    float: left;
    margin-top: 30px;
}

.contactlogo{
    width: 20px; 
    margin:10px 7px 0 0;
}

.contactlogomail{
    width: 20px; 
    margin:5px 7px 0 0;
}

.contact ul hr{
    margin-top: 50px;
}

.botlogo{
    width: 100%;
}

.botlogo ul{
    width: 100%;
}


.botlogo li{
    display: inline-block;   
    margin: 25px 5px;
}
.botlogo i{
   font-size: 20px;
   color: black;
}

.contactbodyright{
    float: right; 
    width: 44.9%; 
    text-align: center; 
    padding: 30px 0; 
    margin:30px 20px 0 0 ;
}

.contactbodyright div{
    width:75%; 
    text-align: right; 
    margin:auto;
    font-style: italic;
}

footer{
    padding: 20px 0px;
    display: flex;
}
footer div{
    width: 95%;
    text-align: center;
    font-size: 12px;
}
footer a{
    width: 5%;
    width: 20px;
}



@media screen and (max-width:1220px){
    
    header{
        position: relative;
        
    } 
    nav li{
        display: block;
        text-align: center; 
        padding: 5px 20px;
    }

    .first{
        width: 80%;
    }

    .firstright ul{
        margin:10px 0 0 10px;
    }    
}

@media screen and (max-width:800px){
    
    *{
        font-size: 11px;
    }
    header a{
        font-size: 20px !important;
    }

    .icn{
        width: 13px;
    }

    .icn-email{
        width: 13px;
    }

    .first{
        width: 95%;
    }
    
    .communication{
        margin-top: 8px;
    }

    .fs-30{
        font-size: 20px;
    }

    .logo ul{
        width: 100%;
    }
    .logo li i{
        font-size: 15px;
    }
    .letter{
        font-size: 15px;
    }

    h2{
        font-size: 15px;
    }

    .botlogo i{
        font-size: 14px;
    }

    .contactlogo{
        width: 13px;
    }
    .contactbody ul{
        width: 100%; 
    }

    footer div{
        font-size: 9px;
    }
    footer a{
        width: 13px;
    }
}

@media screen and (max-width:620px){

    .first{
        display: block;
        width: 60%;
    }
    
    .firstright,
    .imgclass{
        display: block;
        margin: auto;
        width: 90%;
    }

    .firstright ul{
        margin:0 0 0 10px;
    }
    .firstright ul li{
        margin:0;
    }
    

    .skillbodyright,
    .skillbodyleft{
        width: 40%;
    }



}

















